qao_env/
db.sqlite3
.idea/
QAoffice/__pycache__/
entry/__pycache__/
entry/migrations/__pycache__/
post/__pycache__/
post/migrations/__pycache__/
user/__pycache__/
user/migrations/__pycache__/
post/forms/

