@charset "UTF-8";

body{
  margin:0px;
}
header,footer{
  display: none;
  width:100%;
  height:40px;
  background-color: #00a2e8;
  padding-left: 20px;
  color:#fff;
  font-size: 30px;;
}
header label{
  user-select: none;
  cursor: pointer;
}
#prev{
  position: fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  text-align:center;
  vertical-align: center;
  background-color: #00a2e8;
  z-index:5;
}
#prev p{
  position: fixed;
  top:50%;
  left:50%;
  font-size:50px;
  margin:-1em 0 0 -2em;
  vertical-align: middle;
}
#main{
  display: none;
}
#TagEditor{
  display:none;
  width:30%;
  height:30%;
  position: absolute;;
  border: 5px outset #0ff;
  background-color: #eef;
  z-index:4;
  margin:-15% -15%;
}
#TagEditor #TagName{
  width:95%;
  margin:5px 0px;
}
#TagEditor #Tags{
  max-width:100%;
}
.Tag{
  font-size:0.8em;
  border: #ffdab9 solid 5px;
  margin:0.5em 0px 0px 0.5em;
  width:fit-content;
  background-color: #e0ffff;
  overflow: auto;
  display: inline-block;
}
.Tag label{
  margin:0px 5px;
}
.removetag{
  border-left:#000 solid 1px;
  user-select: none;
}
#Tags{
  height:calc(100% - 5em);
  overflow-x: hidden;
  overflow-y: auto;
}
#TagButtonWrapper{
  position: relative;
  margin: 0px 0em 5px -5em;
  left: 50%;
}
.wrapper{
  margin:2px;
}
#QuestionForm{
  position:fixed;
  left:50%;
  margin: 0em -20em;
}
#QuestionContent,#QuestionSubject,#id_subject{
  font-size: 32px;
  margin:5px 0px;
  border-radius: 5px;
  border-width: 3px;
  border-color: #ffdab9;
  border-style: solid;
}
#QuestionContent{
  width:20em;
  height:10em;
  resize: vertical;
  max-height:24em;
}
#QuestionSubject,#id_subject{
  width:100%;
  height:2em;
  max-height: 2em;
}
.button{
  background-color: #00ffff;
  border-style:outset;
  border-width:5px;
  border-radius: 8px;
  border-color: #e0ffff;
  cursor: pointer;
  position: relative;
  left: 40%;
}
.button:active{
  border-style: inset;
}