{# Project: QA Office #}
{# Entry #}

{% extends "base.html" %}
{% block title %} temporarily index - QAoffuce {% endblock %}
{% block content %}

<br>
<div class="container">
    <!-- Content -->
    <h2>Question and Answers - QAoffice</h2>
    <br />
    <b>Our projects are under construction. </b><br /><br />

    ToDo Next:<br />
        1) Sign in/ Sign out authentication<br />
        2) Each student creates own entry page, and then,<br />
            link to the home from here.<br /><br />
    Students' trial entries:

    
    <ul class="TopPageUl">
        <li><a href="{% url 'ky_0141' %}">KY-0141</a></li>
        <li>WT-8101</li>
        <li>KU-0001</li>
        <li>KK-0004</li>
        <li>JK-005</li>
        <li>IN-0009</li>
        <li><a href="{% url 'yh_0010' %}">YH-0010</a></li>
        <li><a href="{% url 'ry_0011' %}">RY-0011</a></li>
    </ul>
    
    <br>
    Our project's main entrance:<br>
    <b>TOP PAGE(UNDER CONSTRUCTION)</b><br />
    <a href="../post/" class="TopPageLink">TopPage</a>

</div>
{% endblock %}
<body>
</body>
</html>
