<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temporarily index - QAoffice</title>
</head>
<body>
    <h2>Question and Answers - QAoffice</h2>
    <br />
    Our projects are under construction. <br /><br />

    ToDo Next:<br />
        1) Sign in/ Sign out authentication<br />
        2) Each student creates own entry page, and then,<br />
            link to the home from here.<br /><br />

    <h4>Students' trial entries:</h4>
    <ul>
        <li><a href="{% url 'ky_0141' %}">KY-0141</a></li>
        <li>WT-8101</li>
        <li>KU-0001</li>
        <li>KK-0004</li>
        <li>JK-005</li>
        <li>IN-0009</li>
        <li>YH-0010</li>
        <li>RY-0011</li>
    </ul>

    <h4>Our project's main entrance:</h4>
    <b>TOP PAGE(UNDER CONSTRUCTION)</b><br />
</body>
</html>