{% extends "base.html" %}

{% block title %}KY-0141 index page {% endblock %}

{% block content %}

<div style="position: absolute;top: 50%;left: 50%; margin: 1em 0 0 -5em;">
  This is index page.
</div>
<div> <a href="{%url 'ky_0141_2' %}">question post page</a></div>

{% endblock %}
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div style="position: absolute;top: 50%;left: 50%; margin: 1em 0 0 -5em;">
      This is index page.
    </div>
<div> <a href="{%url 'ky_0141_2' %}">question post page</a></div>
  </body>
</html> -->
