{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>QAoffice/Post Question</title>
    <link rel="icon" href="{% static 'KY/KY_0141.ico' %}">
    <link rel="stylesheet" type="text/css"href="{% static 'KY/KY_0141.css' %}">
  </head>
  <body>
    <header>
      <label class="home">QAoffice</label>
      <label class="list">📃</label>
    </header>
    <div id="prev">
        <div>
            <p><b>Loading...</b></p>
        </div>
    </div>
    <div id="main">
      <div id="TagEditor">
        <input type="text"id="TagName"placeholder="追加したいタグを入力してください。"maxlength="15">
        <div id="Tags"></div>
        <div id="TagButtonWrapper">
          <input type="button"id="TagSubmit"value="決定"class="button">
          <input type="button"id="TagCancel"value="キャンセル"class="button">
        </div>
      </div>
      <form id="QuestionForm"method="post"action="">
        <div id="QuestionSubjectWrapper"class="wrapper">
          <!-- <input type="text"id="QuestionSubject"placeholder="科目"> -->
          {{form.subject}}
        </div>
        <div id="QuestionContentWrapper"class="wrapper">
          <!-- <textarea id="QuestionContent" placeholder="質問内容を入力してください。"></textarea> -->
          {{form.content}}
        </div>
        <div id="QuestionButtonWrapper"class="wrapper">
          {% csrf_token %}
          <input id="tagEdit"type="hidden"value="タグを編集"class="button">
          <input id="QuestionSubmit"type="submit"value="投稿"class="button">
          <input id="QuestionCancel"type="button"value="キャンセル"class="button list">
          <input id="QuestionTags"type="hidden">
        </div>
      </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      window.jQuery||document.write("<script type='text/javascript' src='{% static 'KY/jquery-3.4.1.min.js' %}' charset='utf-8'><\/script>")
    </script>
    <script type="text/javascript"src="{% static 'KY/KY_0141.js' %}"charset="utf-8"></script>
  </body>
</html>
